<style>
    
    @font-face {
      font-family: 'SF Pro';
      src: url('./fonts/SF-Pro.ttf') format('truetype');
      font-weight: 500;
      font-style: normal;
    }
    .wrapper {
        text-align: center; /*让div内部文字居中*/
        background-color: #fff;
        border-radius: 20px;
        width: 300px;
        height: 30px;
        margin: auto;
        position: relative;
        top: 10;
        left: 0;
        right: 0;
        bottom: 0;
    }
    table, th, td {
        border: 1px solid black;
        width: 30px;
        height: 35px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 100;
        text-align: left;
    }
    body{ font-family:"SF Pro"}
</style>
<link rel="icon" href="{{ url_for('static', filename='logo.png')}}">
<title>ICBC Search</title>

<div style="text-align: center; width: 500px; position: relative; margin: 0 auto;">
    <img style="margin: 0 auto;"  src="{{ url_for('static', filename='ICBC.png')}}" alt="ICBC Search Logo" width="150" height="100">
    <footer> <strong>ICBC Searching Pages Under Domain <a href="https://www.ics.uci.edu" target="_blank">ics.uci.edu</a> </strong> </footer>
</div>

<div>
<form class="wrapper">
    <input style="float: left;" type="text" id="query" name="query", placeholder="{{query}}"/> 
    <button style="float: right;">Search Now!</button>
</form>
</div>

<div>
    <table style="width:50%">
        <tr>
           <th>{{one}}</th> 
        </tr>
        <tr>
            <th>{{two}}</th> 
        </tr>
        <tr>
            <th>{{three}}</th> 
         </tr>
         <tr>
             <th>{{four}}</th> 
         </tr>
         <tr>
            <th>{{five}}</th> 
         </tr>
    </table>
</div>

